Repository SGTMcPass/nsa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint:prompts, test:prompt-conversion, test:registry-validation

lint:prompts:
  stage: lint
  script:
  - echo "üîç Linting prompt files..."
  - python3 tools/lint_prompts.py

test:prompt-conversion:
  stage: test
  script:
  - echo "üß™ Testing JSON ‚Üí YAML/Markdown conversion"
  - python3 tools/convert_prompt_profile.py profiles/prompt/nasa_simulation_prompt_assistant.json --markdown /dev/null

test:registry-validation:
  stage: test
  script:
  - echo "üì¶ Validating prompt registry file paths..."
  - python3 tools/load_prompt.py --validate

Tag-and-release tooling
  commit_checklist.txt
  tag-and-release.sh
Due: none

Version 1.0.0
  formats/nasa_simulation_prompt_assistant.txt
  tag-and-release.sh
  tools/lint_prompts.py
Due: lint:prompts

next-prompts init
  tag-and-release.sh
Due: none

Cleaning house.
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/prompt_template.md
  memory/prompts/session_2025-05-04.md
  next-prompts/README.md
  package-lock.json
  profiles/prompt/nasa_simulation_prompt_assistant.md
  profiles/prompt/nasa_simulation_prompt_assistant.yaml
  prompt_registry.yaml
  prompts/deepdive/prompt_engineering_report.md
  prompts/overview/prompt_patterns_summary.md
  prompts/toolbuild/trick_model_scaffold.md
  requirements.txt
  schemas/assistant_profile.schema.v1.0.0.json
  scripts/bootstrap.sh
  scripts/scaffold_prompts.sh
  scripts/setup_node_env.sh
  scripts/test_tools.sh
  tag-and-release.sh
  tools/convert_prompt_profile.py
  tools/lint_prompts.py
  tools/load_prompt.py
  tools/validate_prompt_files.py
Due: lint:prompts, test:prompt-conversion, test:registry-validation

Final tweak to prompt_assistant.
  profiles/prompt/nasa_simulation_prompt_assistant.yaml
Due: lint:prompts

chore: tag v1.1.0-lint-compliant with full formatting compliance
  CHANGELOG.md
Due: none

Added summary.
  memory/prompts/session_2025-05-05-0200.md
Due: none

Updated json to match yaml.
  profiles/prompt/nasa_simulation_prompt_assistant.json
Due: lint:prompts, test:prompt-conversion, test:registry-validation

Updated.
  .pre-commit-config.yaml
  profiles/prompt/nasa_simulation_prompt_assistant.json
  profiles/prompt/nasa_simulation_prompt_assistant.md
  profiles/prompt/nasa_simulation_prompt_assistant.yaml
  tools/convert_prompt_profile.py
Due: lint:prompts, test:prompt-conversion, test:registry-validation

Updated makefile.
  Makefile
Due: none

Makefile updates.
  Makefile
Due: none

Docker, Make, Docker support for RL Project
  rl/rl_project/.dockerignore
  rl/rl_project/Dockerfile
  rl/rl_project/Makefile
  rl/rl_project/agents/__init__.py
  rl/rl_project/agents/q_learning_agent.py
  rl/rl_project/environments/__init__.py
  rl/rl_project/environments/gridworld.py
  rl/rl_project/main.py
  rl/rl_project/requirements.txt
  rl/rl_project/trainers/__init__.py
Due: none

Added comprehensive README for RL Agent project
  rl/rl_project/Makefile
  rl/rl_project/README.md
  rl/rl_project/docker-compose.yml
Due: none

Fixed test logic for goal state and boundary detection
  rl/rl_project/Makefile
  rl/rl_project/tests/__init__.py
  rl/rl_project/tests/test_agent.py
  rl/rl_project/tests/test_environment.py
Due: none

Fixed Docker visualization sync and path render. Fully integrated AdvancedTrainer with Docker.
  .treeignore
  rl/.treeignore
  rl/rl_project/.treeignore
  rl/rl_project/Dockerfile
  rl/rl_project/Makefile
  rl/rl_project/main.py
  rl/rl_project/trainers/advanced_trainer.py
  rl/rl_project/visualization/__init__.py
  rl/rl_project/visualization/plot_agent_path.py
  rl/rl_project/visualization/plot_q_values.py
Due: none

Added obstacles
  rl/rl_project/Dockerfile
  rl/rl_project/environments/gridworld.py
  rl/rl_project/main.py
  rl/rl_project/trainers/advanced_trainer.py
Due: none

Added a visualization.
  rl/rl_project/environments/gridworld.py
  rl/rl_project/main.py
  rl/rl_project/visualization/path_animator.py
Due: none

Broken Commit: Unittests
  profiles/prompt/nasa_simulation_prompt_assistant.json
  profiles/prompt/nasa_simulation_prompt_assistant.md
  rl/rl_project/Makefile
  rl/rl_project/agents/q_learning_agent.py
  rl/rl_project/environments/gridworld.py
  rl/rl_project/main.py
  rl/rl_project/tests/test_environment.py
  rl/rl_project/tests/test_trainer.py
  rl/rl_project/trainers/advanced_trainer.py
  rl/rl_project/trainers/checkpoint_manager.py
  rl/rl_project/utils/logger.py
Due: lint:prompts, test:prompt-conversion, test:registry-validation

Crawler Update
  config/chunker_config.yaml
  profiles/simulation/simulation_assistant.md
  profiles/simulation/simulation_assistant.yaml
  profiles/simulation/simulation_extension_layer.md
  profiles/simulation/simulation_extension_layer.yml
  requirements.txt
  run_sample_chunker.py
  scripts/make_core_howto.sh
  scripts/tag-and-release.sh
  tests/test_chunker_lib.py
  tests/test_integration_chunker.py
  tools/__init__.py
  tools/build_full_docs.py
  tools/build_trick_chunks.py
  tools/chunker_lib/__init__.py
  tools/chunker_lib/cli.py
  tools/chunker_lib/config.py
  tools/chunker_lib/crawler.py
  tools/chunker_lib/manifest.py
  tools/chunker_lib/splitter.py
  tools/chunker_lib/utils.py
  tools/make_core_howto.py
  tools/monitor.py
  tools/trick_proc_watch.py
Due: lint:prompts

Updated chunking tools.
  .pre-commit-config.yaml
  compose.yaml
  config/chunker_config.yaml
  profiles/simulation/simulation_assistant.yaml
  profiles/simulation/simulation_extension_layer.md
  profiles/simulation/simulation_extension_layer.yml
  requirements.txt
  rl/rl_project/docker-compose.yml
  run_sample_chunker.py
  sample_docs/chunks/chunks.jsonl
  sample_docs/chunks/chunks_manifest.md
  sample_docs/config.yaml
  sample_docs/docs/intro.md
  sample_docs/docs/setup.md
  scripts/make_core_howto.sh
  setup.py
  tests/test_chunker_lib.py
  tests/test_cli.py
  tests/test_core.py
  tests/test_integration_chunker.py
  tools/build_full_docs.py
  tools/build_trick_chunks.py
  tools/chunker_lib/cli.py
  tools/chunker_lib/config.py
  tools/chunker_lib/core.py
  tools/chunker_lib/crawler.py
  tools/chunker_lib/manifest.py
  tools/chunker_lib/splitter.py
  tools/chunker_lib/utils.py
  tools/make_core_howto.py
  tools/monitor.py
  tools/trick_proc_watch.py
Due: lint:prompts

chunked assistant
  profiles/simulation/extenstion_layers/glossaries/glossary.md
  profiles/simulation/extenstion_layers/heuristics/heuristics.md
  profiles/simulation/extenstion_layers/modes/modes.md
  profiles/simulation/extenstion_layers/planning/sprint.md
  profiles/simulation/instructions/instructions.md
Due: none

README.md
  profiles/simulation/README.md
Due: none

Embedder Cli implemented and tested.
  profiles/assistant_prompt_combined.md
  profiles/session_bootstrapper.md
  profiles/simulation/assistant_prompt_combined.md
  profiles/simulation/extension_layers/glossaries/glossary.md
  profiles/simulation/extension_layers/heuristics/heuristics.md
  profiles/simulation/extension_layers/modes/modes.md
  profiles/simulation/extension_layers/personality/base_sim_assitant_personality.md
  profiles/simulation/extension_layers/planning/sprint.md
  profiles/simulation/instructions/instructions.md
  scripts/chunker_package_20250525_175252.zip
  scripts/zip_chunker_lib.sh
  setup.py
  tests/__init__.py
  tests/test_embedding.py
  tests/test_embedding_cli.py
  tools/assistant_maker.py
  tools/embedding_lib/__init__.py
  tools/embedding_lib/embedder.py
  tools/embedding_lib/embedding_cli.py
Due: none

Vector Store and VS CLI integration and testing.
  tests/test_chunker_lib.py
  tests/test_faiss_vector_store.py
  tests/test_vectorstore_cli.py
  tools/embedding_lib/embedder.py
  tools/embedding_lib/faiss_vector_store.py
  tools/embedding_lib/vector_store.py
  tools/vectorstore_cli.py
Due: none

Updating rl.
  rl/.gitignore
  rl/README.md
  rl/board_game_lib/pyproject.toml
  rl/board_game_lib/rl_project/__init__.py
  rl/board_game_lib/rl_project/config.py
  rl/board_game_lib/rl_project/environments/board_game_env.py
  rl/board_game_lib/rl_project/environments/board_game_env.py,cover
  rl/board_game_lib/rl_project/environments/board_game_factory.py
  rl/board_game_lib/rl_project/interfaces/ienvironment_factory.py
  rl/board_game_lib/rl_project/interfaces/ilogger.py
  rl/board_game_lib/rl_project/interfaces/irunner.py
  rl/board_game_lib/rl_project/utils/__init__.py
  rl/board_game_lib/rl_project/utils/callback.py
  rl/board_game_lib/rl_project/utils/config.py
  rl/board_game_lib/rl_project/utils/logger.py
  rl/board_game_lib/tests/test_board_game_edge_cases.py
  rl/board_game_lib/tests/test_board_game_env.py
  rl/board_game_lib/tests/test_board_game_features.py
  rl/coverage_annotate/z_770b447654b0b0d2_board_game_env.py,cover
  rl/inspect_rllib_config.py
  rl/poetry.lock
  rl/pyproject.toml
  rl/requirements-test.txt
  rl/requirements.txt
  rl/rllib_app/configs/rllib_board_game_config.yaml
  rl/rllib_app/trainers/rllib_runner.py
  rl/rllib_app/trainers/run_rllib.py
  rl/sb3_app/README.md
  rl/sb3_app/configs/sb3_board_game_config.yaml
  rl/sb3_app/poetry.lock
  rl/sb3_app/pyproject.toml
  rl/sb3_app/sb3_app/__init__.py
  rl/sb3_app/sb3_app/trainers/run_sb3.py
  rl/sb3_app/sb3_app/trainers/sb3_runner.py
  rl/sb3_app/sb3_app/utils/__init__.py
  rl/test_rllib_instantiation.py
Due: none

sb3_app running
  rl/board_game_lib/rl_project/config.py
  rl/sb3_app/configs/sb3_board_game_config.yaml
  rl/sb3_app/inspect_agent.py
  rl/sb3_app/poetry.lock
  rl/sb3_app/pyproject.toml
  rl/sb3_app/sb3_app/trainers/run_sb3.py
  rl/sb3_app/sb3_app/trainers/sb3_runner.py
Due: none

Updated tools
  rl/board_game_lib/rl_project/environments/board_game_env.py
  rl/sb3_app/configs/sb3_board_game_config.yaml
  rl/sb3_app/pyproject.toml
  rl/sb3_app/sb3_app/trainers/sb3_runner.py
  rl/sb3_app/tools/live_plotter.py
Due: none

Running and training
  rl/board_game_lib/rl_project/config.py
  rl/board_game_lib/rl_project/environments/board_game_env.py
  rl/board_game_lib/rl_project/utils/callback.py
  rl/sb3_app/README.md
  rl/sb3_app/configs/ideal_2048steps_config.yaml
  rl/sb3_app/configs/ideal_5epochs_8192steos_configs.yaml
  rl/sb3_app/configs/ideal_5epochs_configs.yaml
  rl/sb3_app/configs/ideal_8192steps_config.yaml
  rl/sb3_app/configs/ideal_sb3_board_game_config.yaml
  rl/sb3_app/sb3_app/trainers/run_sb3.py
  rl/sb3_app/sb3_app/trainers/sb3_runner.py
  rl/sb3_app/tools/live_plotter.py
  rl/sb3_app/tools/visualize_policy.py
Due: none

updated for education
  rl/sb3_app/configs/education/sb3_board_game_config.yaml
Due: none

Path conditions:
  lint:prompts: any of: tools/lint_prompts.py, schemas/**/*.json, profiles/**/*.json, profiles/**/*.yaml, prompts/**/*.{json,yaml,md}, prompt_registry.yaml
  test:prompt-conversion: any of: tools/convert_prompt_profile.py, profiles/prompt/nasa_simulation_prompt_assistant.json
  test:registry-validation: any of: tools/load_prompt.py, prompt_registry.yaml, prompts/**/*.md, profiles/**/*.json
